#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

#navItems {
    width: 90%;
}

#navName {
    margin: 10px;
    width: fit-content;
}