#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115px;
}

#navItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#navName {
    margin: 10px;
    width: fit-content;
    color: black;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
}

#navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navLinks li {
    list-style: none;
    padding: 0 0px;
    margin: 0 20px;
    position: relative;
    text-decoration-color: rgb(181, 181, 181);
}

#navLinks li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-family: "Poppins", sans-serif;
}

#navLinks li a:hover {
    color: rgb(181, 181, 181);
}

#navLinks li a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    background: rgb(181, 181, 181);
    position: absolute;
    bottom: -4px;
    left: 0px;
}